.login-card {
    max-width: 840px;
    margin: 100px auto 0px;
    border-color: transparent;
}

.logo-zuma {
    display: flex;
    margin: 0px auto;

}

@media (max-width: 500px) { 
    .login-card {
        max-width: none;
        margin: 50px 10px 0px;
    }

    .logo-zuma {
        margin: 0px 10px;
        width: 100%;
    
    }
 }

